.git
.gitignore
.gitattributes
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
target/
node_modules/
*.md
!README.md
CHANGE_LOGS*
LICENSE
.github/
scripts/
docker-compose*.yml
.env
.env.*
src/main/resources/local.properties
src/main/resources/local-*.properties
package.json
package-lock.json
pnpm-lock.yaml
gulpfile.js
webpack.config.js
.DS_Store
solo_h2_test/
